<mat-toolbar color="primary" class="header-toolbar">
    <span class="logo">Luxe Fragrances</span>

    <span class="spacer"></span>


    <button mat-icon-button class="cart-btn" aria-label="Cart">
        <mat-icon [matBadge]="cartStore.totalCount()" [matBadgeHidden]="cartStore.totalCount() === 0" matBadgeColor="warn">shopping_bag</mat-icon>
    </button>

    <ng-container *ngIf="authStore.isAuthenticated(); else loginBtn">
        <span class="user-name">{{ authStore.userName()}}</span>
        <button mat-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon> Logout
        </button>
    </ng-container>

    <ng-template #loginBtn>
        <button mat-raised-button color="accent" (click)="openAuthDialog()">
            <mat-icon>account_circle</mat-icon> Login
        </button>
    </ng-template>

</mat-toolbar>