
<div class="products-grid" *ngIf="filteredProducts().length > 0; else emptyState">
  <mat-card class="product-card" *ngFor="let product of filteredProducts()">
    
  
    <div class="image-wrapper" [routerLink]="['/products', product.id]" style="cursor: pointer;">
      <img mat-card-image [src]="product.thumbnail" [alt]="product.title">
    </div>

    <mat-card-content class="card-content">
      <span class="category-tag">fragrances</span>
    
      <h3 class="product-title" [routerLink]="['/products', product.id]" style="cursor: pointer;">
        {{ product.title }}
      </h3>
      
      <p class="product-price">${{ product.price }}</p>
    </mat-card-content>

    <mat-card-actions class="card-actions">

      <button mat-raised-button color="primary" class="add-btn" (click)="addToCart(product)">
        <mat-icon>add_shopping_cart</mat-icon> Add to Cart
      </button>
    </mat-card-actions>

  </mat-card>
</div>


<ng-template #emptyState>
  <div class="no-results">
    <mat-icon class="no-results-icon">search_off</mat-icon>
    <p>No fragrances found for "{{ searchQuery() }}"</p>
  </div>
</ng-template>